.left-panel {
  @include flexBox(column, space-between);
  height: 100%;
  width: 40%;
  background: $bgColor;
  overflow: hidden;

  .left-panel-header {
    @include flexBox(row, flex-start);
    width: 100%;
    height: 15%;
    padding: 5px;
    border-bottom: 1px solid $contourColor;

    h1 {
      margin-left: 15px;
    }
  }

  .lists-list {
    width: 100%;
    height: 85%;
    overflow: auto;
    padding: 5px;

    .list.selected {
      background-color: $contourColor;
    }
    .lists-list-link {
      width: 100%;
      display: flex;
      outline: none;
      justify-content: flex-start;
    }
  }
}
