.right-panel {
  @include flexBox(column, flex-start);
  width: 60%;
  height: 100%;
  background: $bgColor;
  // padding: $paddingNormal;
  margin-left: $paddingNormal;
  overflow: hidden;

  .right-panel-header {
    @include flexBox(column);
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
    background: linear-gradient(
        rgba(236, 236, 236, 0.5),
        rgba(233, 233, 233, 0.4)
      ),
      /* bottom, image */ url("right-panel-headr-bg.png");
    background-position: top;
    background-size: cover;
    color: white;
    padding: 5px;
    margin-bottom: 20px;

    h1 {
      text-shadow: -2px 3px 7px rgba(4, 30, 23, 0.66);
    }
  }
  button[type="submit"] {
    color: rgb(118, 135, 148);
    border: 1px solid $contourColor;
  }

  .todo-input {
    width: 40%;
    & > .bp3-input {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid $contourColor;
    }
    &.bp3-input-group:last-child {
      margin-left: 10px;
    }
  }
  .bp3-button {
    color: white;

    &:focus {
      outline: none;
    }

    &.filter:hover {
      color: $contourColor;
      background-color: transparent;
      text-shadow: -1px 1px 3px rgb(100, 100, 100);
    }
    &.active {
      color: $contourColor;
      text-shadow: -1px 1px 3px rgb(100, 100, 100);
    }
  }

  .todo {
    transition: all 300ms;
    box-sizing: border-box;
    background-color: transparent;
    color: $textColor;
    padding: 5px;
    .bp3-button-text {
      color: $textColor;
      box-shadow: none;
    }
    h1,
    p {
      line-height: 1;
      border-radius: 5px;
      margin-right: 10px;
      &:focus {
        outline: none;
      }
      h1 {
        line-height: 1;
      }
    }
    .bp3-button {
      color: white;

      &:focus {
        outline: none;
      }

      &:hover {
        color: $contourColor;
      }
      &.active {
        color: $contourColor;
        text-shadow: -1px 1px 3px rgb(100, 100, 100);
      }
    }
  }
  .todo.completed {
    background-color: $completedColor;
    h1,
    p {
      text-decoration: line-through;
    }
  }
}
.todoeffect-enter {
  opacity: 0.01;
  height: 0px;
  transform: translateY(-100%);
}

.todoeffect-enter.todoeffect-enter-active {
  opacity: 1;
  height: 50px;
  transform: translateY(0);

  transition: 400ms;
}

.todoeffect-leave {
  opacity: 1;
  height: 50px;
  transform: translateY(0);
}

.todoeffect-leave.todoeffect-leave-active {
  opacity: 0.01;
  height: 0px;
  transform: translateY(-100%);

  transition: 400ms;
}
